h1,h2,h3,h4
{
    text-align: center;
}

p,a,h1,h2,h3,h4,h5,h6
{
    color: inherit;
    text-decoration: none;
    margin: 0px;
}

put-in-left
{
    text-align: left;
}

a
{
    text-decoration: underline;
}
