{% extends "index.html" %}

{% block contents %}
<div class="span6">

  <em><p style="font-weight: bold; text-align:
                left;">Team Name: a_coder<p></em>
  <br/>
  <div style="text-align: left;">
    Balamurugan V R, PSO WMOS Classic
  </div>  <br/>
  <div style="text-align: left;">
    Problem: Sentiment Analysis Data Mining
  </div>
  <br/>
  <div class="span4">
    
  </div>
</div>
{% endblock %}
