<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
	<title>Manhattan Sentiments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
            media="screen" />
        <link href="/static/css/main.css" rel="stylesheet" />
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="/static/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/static/js/main.js"></script>
      <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
      <script src="http://code.highcharts.com/highcharts.js"></script>
      <script src="http://code.highcharts.com/modules/exporting.js"></script>

      <link href="/static/manh.ico" rel="icon" />
          
      </head>

      <body>

        <div class="container">
          <h2 >Manhattan Sentiments</h2>
        </div>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span2">
              <div>
                <h5 class="put-in-left"><a href="/manh/about">About</a></h5>
                <h5 class="put-in-left"><a href="/manh/">Home</a></h5>
                <br/>
                <h5>Search</h5>
                <a href="/manh/search/all">All</a>
                <br/>
                <a href="/manh/search/twitter">Twitter</a>
                <br/>
                <a href="/manh/search/glassdoor">Glassdoor</a>                
                <br/><br/>
                <h5>Training</h5>
                <a href="/manh/train">Label existing samples</a>                
                <br/><br/>
              </div>
            </div>
          <div class="span10">
            <div id="body-contents">
              
              {% block contents%}
              {% endblock %}
              
            </div>
          </div>
        </div>
      </div>
        
        <div id="footer">
          <p align="center">Copyright (c) Manhattan Associates
          Inc. 2014</p>
          <p align="center" style="font-size: xx-small;">A <a href="mailto:braman@manh.com">Balamurugan V R</a> production</p>          
        </div>
      </div> 

    </body>
  </html>
