{% extends "index.html" %}

{% block contents %}
            <div class="span6">
              You are in the home page of Manhattan Sentiments.
              <br/><br/>

              <em><p style="font-weight: bold; text-align: left;">What
              is Sentiment Analysis?<p></em>
              <div style="text-align: left;">
              Quoting <a href="http://en.wikipedia.org/wiki/Sentiment_analysis">Wikipedia</a> - <em>
                Sentiment analysis (also known as opinion mining)
              refers to the
                use of natural language processing, text analysis and computational linguistics to identify and extract subjective information in source materials
              </em>
              </div>
              <br/>
              <ul>
                <li>Manhattan Sentiments is a generic sentimental analysis platform
                composed of <ol><li>Data Loaders</li>
                    <li>Naive Bayes Classifier</li>
                    <li>Search Engine and</li>
                    <li>User Interface</li>
                  </ol>
                </li>
                <li>Data loaders have the logic to scrap data from
                social media like Twitter, Facebook, Reddit etc.,
                  REST API uses 3 legged authentication by OAuth 2.0 protocol.
                Currently support for Twitter is implemented via REST API and
                support for Glassdoor is implemented using webpage scrapping.</li>
                <li>Naive Bayes Classifier is used for document
                classification. This is a simple yet powerful
                algorithm in the space of natural language
                processing especially in the the applications of
                document classification. We are using Python Natural Language Tool Kit
                (NLTK) - 3.0 in the current implemenation. </li>
                <li>Search Engine is built on Python Whoosh and
                Django-Haystack.</li>
                <li>Django 1.6.5 powers this site as web application
                framework.</li>
                <li>Highcharts for plotting</li>                
              </ul>
              <br/>
              <em><p style="font-weight:bold; text-align:left;">Features</p></em>
              <ol>
                <li>Answers queries and provide a graphical representation of
                sentiments in addition to results.</li>
                <li>Interface for Manual classification.</li>
                <li>Data loaders and indexers work offline as
                scheduled jobs.</li>
                <li>Modular design helps in scaling individual
                components independently.</li>
              </ol>              
            </div>
            <div class="span4">
              <img src="/static/ms_block_dgm.png" />
            </div>

{% endblock %}
