{% extends "index.html" %}

{% block contents %}
            <div class="span8">
              {% for entry in results %}
              {{ entry.source }}&nbsp;-&nbsp;{{ entry.text }}&nbsp;-&nbsp;<em>
                labeled {{ entry.opinion }}</em>
              <br/><br/>
              {% endfor %}
            </div>

{% endblock %}
