{% extends "index.html" %}

{% block contents %}
            <div class="span4">
              
              <div id="container" style="min-width: 310px; height:
                                         400px; max-width: 600px; margin: 0 auto"></div>
            </div>
            <div class="span6">
              <br/><br/><br/>
              Your query <em>{{query_string}}</em> returned {{ total }}
              <a href="/manh/results/{{ data_source }}?q={{query_string}}">results</a>. Out of which,
              it is {{ positive }} positive, {{ negative }} negative
              and {{ neutral }} neutral.
              <br/><br/><br/>
              Note: Unlabeled data is treated neutral. Go <a href="/manh/train">here</a> to
              label them.
            </div>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: '{{ chart_title }}'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Opinion Distribution',
            data: [
                ['Positive',   {{ positive }}],
                ['Negative',      {{ negative }}],
                ['Neutral',       {{ neutral }}],
            ]
        }]
    });
});
    
</script>
{% endblock %}
