{% extends "index.html" %}

{% block contents %}
<div class="span4">
<form  method="POST">
    {% csrf_token %}
    {{ formset }}
    <input type="submit" value="Done" />
</form>  
</div>
<div class="span6">
  <br><br><br><br>
  <p class="put-in-left" style="font-weight: bold;">I think it is <em>{{ opinion }}</em></p>
</div>

{% endblock %}
