{% extends "index.html" %}

{% block contents %}

<div class="span6">
    <form method="get">
      <table >
        <tr>
          <td align="right">      <input type="text" name="q" value=""
          style="height: 20px;"/></td>
          <td align="left">      <input type="submit" value="Search"
          style="height: 35px; "/></td>
        </tr>
      </table>
    </form>
    </div>
<div class="span4">
  
</div>
{% endblock %}
